registry=https://registry.npmjs.org/
legacy-peer-deps=true
strict-peer-dependencies=false
auto-install-peers=true
prefer-offline=true
node-version=18.2.0
package-lock=false
resolution-mode=highest
save-exact=true